1. How many different companies are represented in the data set?
2. What is the total number of jobs created for businesses in Queens?
3. How many different unique email domains names are there in the data set?
4. Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?
5. Save your result for the previous question as a CSV file.

In [1]:
import pandas as pd

df = pd.read_csv("Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv")
df.shape

(450, 26)

In [13]:
# Q1
Num_of_companies = len(df['Company Name'].unique())
print("The number of companies: ", Num_of_companies)

The number of companies:  439

In [17]:
# Q2
Job_created_Queens = df[df.City == 'Queens']['Job created'].sum()
print("The total jobs created in Queens: ", int(Job_created_Queens))

The total jobs created in Queens:  90

In [18]:
# Q3
Num_of_domains = len(df['company email'].dropna().str.split('@').str[1].unique())
print("The number of uniqiue email domains: ", Num_of_domains)

The number of uniqiue email domains:  357

In [19]:
# Q4
nta = df.NTA.value_counts(ascending=True).loc[lambda x: x>=5].index
# print(df[df.NTA.isin(nta)].groupby(['NTA'])['Total Savings'].mean())
# print(df[df.NTA.isin(nta)].groupby(['NTA'])['Job created'].sum())

result = pd.DataFrame([df[df.NTA.isin(nta)].groupby(['NTA'])['Total Savings'].mean(), 
                       df[df.NTA.isin(nta)].groupby(['NTA'])['Job created'].sum()])

result = result.T
result.columns= ['Average Total Savings', 'Total Job Created']
print("The average total savings and the total jobs created")
result

The average total savings and the total jobs created

,Average Total Savings,Total Job Created
NTA,,
Battery Park City-Lower Manhattan,469890.796667,0.0
Bushwick South,26140.455000,10.0
Carroll Gardens-Columbia Street-Red Hook,24337.390000,0.0
College Point,17159.372857,2.0
Crown Heights North,4036.298889,0.0
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,59950.340000,0.0
East New York,48433.093333,15.0
East Williamsburg,13990.626364,0.0
Greenpoint,9753.649286,0.0
Hunters Point-Sunnyside-West Maspeth,23931.398933,0.0
Hunts Point,39246.016154,12.0
Manhattanville,2760.888889,0.0
Maspeth,6658.283333,10.0
Mott Haven-Port Morris,17843.937857,10.0
Queensbridge-Ravenswood-Long Island City,61830.770625,0.0
SoHo-TriBeCa-Civic Center-Little Italy,37214.024000,0.0
Springfield Gardens South-Brookville,17757.662000,0.0
Steinway,11227.155714,20.0
Sunset Park West,14316.976875,0.0
park-cemetery-etc-Brooklyn,14327.419333,0.0

In [6]:
# Q5
result.to_csv("day4.csv")